<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210930193933-4j9p8a5de43ko4004dt42nmji3747ptc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210930193933-4j9p8a5de43ko4004dt42nmji3747ptc</string>
	<key>API_KEY</key>
	<string>AIzaSyD4OaWgGyCEvHp-OKrXvYCnaMC1Jea_j7M</string>
	<key>GCM_SENDER_ID</key>
	<string>210930193933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.luciarigoni.TwitterTutorial</string>
	<key>PROJECT_ID</key>
	<string>twittertutorial-d7a03</string>
	<key>STORAGE_BUCKET</key>
	<string>twittertutorial-d7a03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210930193933:ios:513d2212d1a50c9ec3e744</string>
</dict>
</plist>